In [1]:
num=300

In [3]:
print(num)

300

In [5]:
print(300)

300

In [7]:
print('python')

python

In [9]:
print(10,20,30)

10 20 30

In [11]:
print(10,20,30,'naresh it',True)

10 20 30 naresh it True

In [13]:
print(10),print(20)

10
20

(None, None)

In [ ]:
#why give this none because when 
#we use mutiple print statement in single cell 
#it is result of the cell exceution show return value of print statement

In [15]:
print(10)
print(20)

10
20

In [19]:
n1=10
n2=20
n1,n2

(10, 20)

In [23]:
a=100
b=100
c=a+b
print("the addition of 100 and 200 is 300")
print("the addition of",a,"and",b,"is",c)

the addition of 100 and 200 is 300
the addition of 100 and 100 is 200

***format***

In [26]:
a=100
b=200
c=a+b
print("the addition of {} and {} is {}".format(a,b,c))

the addition of 100 and 200 is 300

***f string***

In [29]:
a=100
b=230
c=a+b
print(f"the addition of {a} and {b} is {c}")

the addition of 100 and 230 is 330

In [ ]:
# take the radius of circle
# take the pi value=3.14
# Find the area of the circle = pi*r*r

In [31]:
r=20
a=3.14*r*r
print(f"the area of circle is :{a}")

the area of circle is :1256.0

In [33]:
# take the base of traingle
# take the height of the traingle
# area of the traingle=1/2*base*height

In [35]:
b=10
h=20
a=1/2*b*h
print(f"the area of triangle is : {a}")

the area of triangle is : 100.0

In [ ]:
# take the bill_amount =1000
# take the tip_percentage =10
# calculate tip_amount
# calculate the total bill
# print the total bill

In [37]:
bill_amount=1000
tip_per=10
tip_amount=bill_amount*tip_per/100
t_t=bill_amount+tip_amount
print(f"the total bill is {t_t}")

the total bill is 1100.0

***END***

-combining mutiple print statement in a single line

In [45]:
print(10,end=' ')
print(20)

10 20

In [47]:
print(10,end=',')
print(20,end='&')
print(30)

10,20&30

***seprator***

-seprate the mutiple value in the single line

In [52]:
print(10,20,30,40,sep='---->')

10---->20---->30---->40

In [56]:
print('the addition of 5 and 3 is 8','..',sep='')

the addition of 5 and 3 is 8..

In [1]:
print("hello everyone",end='\n')
print("how are are you",end=' ')
print("i am fine")

hello everyone
how are are you i am fine